:root {
  --black: #000;
  --text: #13293d;
  --link: #006494;
  --border: #247ba0;
  --blue: #1b98e0;
  --green: #2a9d43;
  --red: #e75151;
  --yellow: #f2c94c;
  --grey: #808080;
  --glass: #e8f1f2;
  --background: #efefef;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
}

.btn {
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--black);
  color: var(--white);
  transition: background-color 0.3s;
}

.btn,
.rounded {
  &:hover {
    opacity: 0.8;
  }

  &.danger {
    background-color: var(--red);
    color: var(--white)
  }

  &.primary {
    background-color: var(--blue);
    color: var(--white);
  }

  &.success {
    background-color: var(--green);
    color: var(--white);
  }

  &.warning {
    background-color: var(--yellow);
    color: var(--white);
  }

  &.secondary {
    background-color: var(--grey);
    color: var(--white);
  }
}

a {
  color: var(--link);
  text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="url"] {
  padding: 0.7rem;
  border: 1px solid var(--border);
  border-radius: 1.5rem;
  font-size: 18px;
  width: 100%;
  outline: none;
  color: var(--text);
}

label {
  margin-bottom: 0.2rem;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem;
  max-width: 500px;
  background: var(--white);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
}

.rounded {
  border-radius: 100%;
}

.textarea {
  flex: 1;
  resize: none;
  height: 200px;
  background: var(--white);
  padding: 0.7rem;
  border: 1px solid var(--border);
  border-radius: 1.5rem;
  font-size: 18px;
  width: 100%;
  outline: none;
  color: var(--text);
}